#console {
    height: 300px;
    /*width: 250px;*/
    position:absolute;
    z-index=99;
    border: 2px solid #CCC;
    margin: 0 auto;
    margin-top: 5px;
}
.jqconsole {
    padding: 5px;
    padding-bottom: 5px;
}
.jqconsole-cursor {
    background-color: #999;
}
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
.jqconsole-prompt {
    color: #0d0;
}
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}
.jqconsole-input {
    color: #dd0;
}
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
.brace {
    color: #00FFFF;
}
.paran {
    color: #FF00FF;
}
.bracket {
    color: #FFFF00;
}
.jqconsole-composition {
    background-color: red;
}